*.class
*.jar
resources*.properties
java/doc
java/doc-files
.settings
.DS_Store
*.interp
*.tokens
build.number
calc_help.html
calcscripts.properties
CalcBaseVisitor.java
CalcParser.java
CalcLexer.java
CalcVisitor.java
PreProcBaseVisitor.java
PreProcParser.java
PreProcLexer.java
PreProcVisitor.java
JSONBaseVisitor.java
JSONParser.java
JSONLexer.java
JSONVisitor.java
test*.log
TestPP.java
MANIFEST.MF
dist
