*.class
*.jar
resources*.properties
java/doc
java/doc-files
.settings
.DS_Store
*.interp
*.tokens
build.number
CalcBaseVisitor.java
CalcParser.java
CalcLexer.java
CalcVisitor.java
PreProcBaseVisitor.java
PreProcParser.java
PreProcLexer.java
PreProcVisitor.java
test*.log
TestPP.java
calc_help.html
MANIFEST.MF
dist
